baseURL = 'https://keremg.dev/'
languageCode = 'en-us'
title = 'kgocen.uk'
theme = 'PaperMod'

enableRobotsTXT = true
buildDrafts = false
buildFuture = false
buildExpired = false

[pagination]
  pagerSize = 10

[params]
  description = "Personal blog and technical writings"
  author = "Kerem Gocen"
  ShowReadingTime = true
  ShowShareButtons = true
  ShowPostNavLinks = true
  ShowBreadCrumbs = true
  ShowCodeCopyButtons = true
  ShowWordCount = true
  ShowRssButtonInSectionTermList = true
  UseHugoToc = true
  disableSpecial1stPost = false
  disableScrollToTop = false
  comments = false
  hidemeta = false
  hideSummary = false
  showtoc = false
  tocopen = false

  [params.homeInfoParams]
    Title = "Welcome to kgocen.uk"
    Content = "Personal blog about software engineering, technology, and other interests."

  [[params.socialIcons]]
    name = "github"
    url = "https://github.com/keremgocen"

  [[params.socialIcons]]
    name = "linkedin"
    url = "https://linkedin.com/in/keremgocen"

  [[params.socialIcons]]
    name = "bluesky"
    url = "https://bsky.app/profile/rkg.bsky.social"

[menu]
  [[menu.main]]
    identifier = "posts"
    name = "Posts"
    url = "/posts/"
    weight = 10

  [[menu.main]]
    identifier = "archives"
    name = "Archive"
    url = "/archives/"
    weight = 20

  [[menu.main]]
    identifier = "categories"
    name = "Categories"
    url = "/categories/"
    weight = 30

  [[menu.main]]
    identifier = "tags"
    name = "Tags"
    url = "/tags/"
    weight = 40

[outputs]
  home = ["HTML", "RSS"]
